DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/rang_wave

APP_NAME =WrengWave
BASE_URL=

SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
EMAIL_USER=dev.abir.07@gmail.com
EMAIL_PASS=



ACCESS_SECRET_KEY = your-secret-key-change-this-in-production
ACCESS_TOKEN_EXPIRE_DAYS=3
REFRESH_SECRET_KEY = your-secret-key-change-this-in-production
REFRESH_TOKEN_EXPIRE_DAYS=10


STRIPE_SECRET_KEY=''
STRIPE_WEBHOOK_SECRET=''