DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/rang_wave

SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
EMAIL_USER=dev.abir.07@gmail.com
EMAIL_PASS=



APP_NAME =

ACCESS_SECRET_KEY = 
REFRESH_SECRET_KEY = 